:root {
    --dark-red: #da1a3b;
    --red: #ff1b26;
    --yellow: #ffcb05;
    --blue: #3368b0;
}

.pokemon {
    width: 100vw;
    height: 80vh;
    position: relative;
    margin-top: -15vh;
    margin-bottom: -15vh;
    z-index: -1;
}


body>:not(script) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    height: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.upper-title {
    height: 5vh;
    margin-top: 2vh;
    display: inline;
}

.lower-title {
    height: 10vh;
    display: inline;
}


@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.6;
    }
}

.loading {
    margin-top: 20vh;
    max-width: 20vh;
    animation-name: pulse;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.pokemon-name {
    height: 3rem;
    font-size: 2rem;
    fill: var(--yellow);
    stroke: var(--blue);
    stroke-width: 7;
    stroke-linejoin: round;
    text-anchor: middle;
    dominant-baseline: middle;
    paint-order: stroke;
}

button {
    background-color: var(--yellow);
    color: var(--blue);
    font-size: 1.4em;
    border-color: var(--blue);
    border-width: 0.2rem;
    border-radius: 20rem;
    padding: 0.5rem;
    width: 7rem;
}

html {
    background: repeating-linear-gradient(25deg,
            var(--red),
            var(--red) 4rem,
            var(--dark-red) 10rem,
            var(--dark-red) 14rem,
            var(--red) 20rem);

    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
}

.settings-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--yellow);
    border-color: var(--blue);
    border-radius: 0.7rem;
    border-width: 0.1rem;
    border-style: solid;
    padding: 0.3rem;
    margin: 0.3rem;
    transition: font-size 200ms, border-radius 200ms;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    max-width: fit-content;
}

.settings-menu svg {
    color: var(--blue);
}

.settings-menu>input {
    transition: max-height 200ms, opacity 200ms;
    max-height: 1em;
}

.settings-menu>label {
    transition: opacity 200ms;
    color: var(--blue)
}

.repo-link {
    color: var(--blue);
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.2rem;
    margin: 0.3rem;
    background-color: var(--yellow);
    border-color: var(--blue);
    border-radius: 100%;
    border-width: 0.1rem;
    border-style: solid;
    width: 2rem;
    height: 2rem;
}

.error {
    margin-top: 10rem;
}

.error>span {
    color: var(--blue);
    background-color: var(--yellow);
    padding: 1rem;
    border-radius: 1rem;
    border-color: var(--blue);
    border-width: 0.1rem;
    border-style: solid;
}

@keyframes shake {
    0% {
        transform: translate(0rem);
    }

    25% {
        transform: translate(0.5rem);
    }

    75% {
        transform: translate(-0.5rem);
    }

    100% {
        transform: translate(0rem);
    }
}

.incorrect-guess {
    animation: shake 0.2s ease-in-out 0s 2;
}

.text-guess {
    display: inline-block;
    margin-bottom: 1.37rem;
}

.text-guess>* {
    font-size: 1.7em;
    border-color: var(--blue);
    border-radius: 0.3rem;
    border-color: var(--blue);
    border-width: 0.1rem;
    border-style: solid;
}

.text-guess>input[type=text] {
    max-width: 50vw;
    font-size: 2em;
    text-align: center;
}

.text-guess>input[type=button] {
    color: var(--blue);
    background-color: var(--yellow);
}

.pokemon-type>* {
    padding: 0.5rem;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.pokemon-type {
    margin-top: 0.3rem;
    margin-bottom: 2rem;
}