:root {
    --dark-red: #da1a3b;
    --red: #ff1b26;
    --yellow: #ffcb05;
    --blue: #3368b0;
}

.pokemon-wrapper {
    position: relative;
    display: block;
    width: fit-content;
}

.pokemon-wrapper>svg {
    position: absolute;
    z-index: -1;
    inset: -20%;
}

.pokemon-wrapper>img {
    max-width: 90vw;
    max-height: 60vh;
}


body>:not(script) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.upper-title {
    height: 5vh;
    margin-top: 2vh;
    display: inline;
}

.lower-title {
    height: 10vh;
    display: inline;
}


@keyframes pulse {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.6;
    }
}

.loading {
    margin-top: 20vh;
    max-width: 20vh;
    animation-name: pulse;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.pokemon-name {
    height: 4rem;
    font-size: 2rem;
    fill: var(--yellow);
    stroke: var(--blue);
    stroke-width: 7;
    stroke-linejoin: round;
    text-anchor: middle;
    dominant-baseline: middle;
    paint-order: stroke;
}

button {
    background-color: var(--yellow);
    color: var(--blue);
    font-size: 1.4em;
    border-color: var(--blue);
    border-width: 0.2rem;
    border-radius: 20rem;
    padding: 0.5rem;
    width: 7rem;
}

html {
    background: repeating-linear-gradient(25deg,
            var(--red),
            var(--red) 4rem,
            var(--dark-red) 10rem,
            var(--dark-red) 14rem,
            var(--red) 20rem);

    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
}

.settings-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--yellow);
    border-color: var(--blue);
    border-radius: 0.7rem;
    border-width: 0.1rem;
    border-style: solid;
    padding: 0.3rem;
    margin: 0.3rem;
    transition: font-size 200ms, border-radius 200ms;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    max-width: fit-content;
}

.settings-menu svg {
    width: fit-content;
    color: var(--blue);
}

.settings-menu>input {
    transition: max-height 200ms, opacity 200ms;
    max-height: 1em;
}

.settings-menu>label {
    transition: opacity 20s0ms;
    color: var(--blue)
}